{% include "common/header.html" %}

<div class="card">
    <div class="card-header">
        exam02_bind_if_for
    </div>
    <div class="card-body">
        <span class="mr-3">사용자 : {{userId}}</span>
         <!-- 조건문 -->
        {% if(userId == null) %}
            <button class="btn btn-success btn-sm">로그인</button>
        {% else %}
            <button class="btn btn-success btn-sm">로그아웃</button>
        {% endif %}
        <!-- 반복문 -->
        {% for board in boards %} 
            {% if loop.first %}
            <span>게시물 수 : {{loop.length}}</span>
            <table class="table mt-3">
                <thead>
                    <th>#</th>
                    <th>bno</th>
                    <th>btitle</th>
                    <th>bcontent</th>
                    <th>bwriter</th>
                    <th>bdate</th>
                </thead>
            <tbody> 
            {% endif %}               
            <tr>
                <td>{{loop.index0}}</td>
                <td>{{board.bno}}</td>
                <td>{{board.btitle}}</td>
                <td>{{board.bcontent}}</td>
                <td>{{board.bwriter}}</td>
                <td>{{board.bdate.toLocaleDateString()}}</td>   
            </tr>     
            {% if loop.last %}
            </tbody>
            </table>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% include "common/footer.html" %}
